/* колір акценту #2196F3 */
/* цвет основного текста чёрный #000000 */
/* белый #FFFFFF */
/* цвет номера тел #757575 */

/* цвета */
:root {
  --primery-text-color: #2f303a;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --accent-text-color: #2196f3;
  --primery-wite-color: #ffffff;
  --contact-text-color: #757575;
  --mail-tel-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
}
/* тело */
body {
  background-color: var(--primery-wite-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14;
  letter-spacing: 0.03em;
}
h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* убрать точки и подчёркивание из ссылок */
.list {
  text-decoration: none;
  list-style: none;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
 
}
.site-nav {
  list-style: none;
  display: flex;
  align-items: center;
}
.header-contact {
  display: flex;
  align-items: center;

}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.contact-mail {
 margin-right: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* логотип */
.logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
 margin-right: 92px;
 margin-top: 24px;
 margin-bottom: 24px;
}
.logo-blue {
  color: var(--accent-text-color);
}
.logo-wite {
  color: var(--primery-wite-color);
}

/* навигация  */


.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a:hover, 
.site-nav a:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
color: var(--accent-text-color);
}

.contact a {
  color: var(--contact-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 
}

.contact a:hover, 
.contact a:focus {
  color: var(--accent-text-color);
}
/* герой */
.hero {
  color: var(--primery-wite-color);
  background: var(--primery-text-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

}
.title-hero {
  width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: var(--primery-wite-color);
  background: var(--primery-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}
.hero-button {
  min-width: 216px;
  padding: 10px 30px;
  border-radius: 4px;
  border-color: var(--accent-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--primery-wite-color);
  cursor: pointer;
  
}
/* преимущества */
.hidden-text > span {display: none;} 
.advantage {
  display: flex;
}
.advantage-list:not(:last-child) {
  margin-right: 30px;
}
.title-advantage {
  margin-bottom: 10px;
  color: var(--title-text-color)
  font-weight: 700;
  font-size: 14;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;
}
.paragraph {
  color: var(--contact-text-color);
  font-size: 14px;
  line-height: 1.7;

}
/* чим ми займаємося */
.imeges {
  display: flex;
}
.imeges-list:not(:last-child) {
 margin-right: 30px;
}
/* наша команда */
.section-team {
  background: var(--button-background-color);
}
.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color)
  font-weight: 500;
  font-style: normal;
  line-height: 1.18; 
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  margin-bottom: 30px;
  color: var(--contact-text-color);
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}
.title-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  display: flex;
}
.team-list:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  background: var(--primery-wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* кнопки в портфолио*/

.filter {
display: flex;
justify-content: space-between;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  }
  
.button-filter:not(:last-child) {
margin-right: 8px;
}

.button {
  min-width: 72px;
  padding: 4px 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--button-background-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: #f5f4fa;
}
.button:hover, 
.button:focus {
  color: var(--primery-wite-color);
  background-color: var(--accent-text-color);
}
.project {
  display: flex;
  flex-wrap: wrap;
}
.project-img:not(:nth-child(3n)) {
 margin-right: 30px;
}
.project-img:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
 }
.project-img {
  box-sizing: border-box;
  background: var(--primery-wite-color);
  border: 1px solid #EEEEEE;
}
/* подчёркивания в портфолио */
.list a {
  text-decoration: none;
  list-style: none;
}
  /* текст страницы портфолио */
.title-portfolio {
  margin: 20px 24px 4px 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.title-p {
  margin: 0 24px 20px 24px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--contact-text-color);
}
/* подвал */
.section-footer {
padding-top: 60px;
padding-bottom: 54px;
}
.underside {
  background-color: var(--primery-text-color);
}
.plays {
 margin-top: 24px;
 margin-bottom: 10px
}

.plays a {
  color: var(--primery-wite-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

}
.plays a:hover,
.plays a:focus {
  color: var(--accent-text-color);
}
.mail-tel:not(:last-child){
  margin-bottom: 10px;
}
.mail-tel a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-tel-color);
  text-decoration: none;
}
.mail-tel a:hover,
.mail-tel a:focus {
  color: var(--accent-text-color);
}
